<h2 class="title text-3xl font-bold font-sans text-teal-100">📜 {$_('widgets.quote.title')}</h2>
<p class="subtitle italic text-teal-500 my-2">{$_('widgets.quote.subtitle')}</p>

<script>
  import { _ } from '../../services/i18n';
  
  var thirtySeconds = 60 * 500;
  
  function newQuote() {
    var randomNumber = Math.floor(Math.random() * 30)
    document.getElementById('quoteDisplay').innerHTML = $_('widgets.quote.' + randomNumber);
  }
  
  setInterval(newQuote, thirtySeconds);
</script>

<p class="text-2xl font-sans text-blue-400" id="quoteDisplay"><i>{$_('widgets.quote.placeholder')}</i></p>