<script>
  import { localStorageStore } from "@babichjacob/svelte-localstorage/browser";
  const textInput = localStorageStore("reflection", "");
  import { _ } from '../../services/i18n';
</script>

<h2 class="title text-3xl font-bold font-sans text-teal-100">📖 {$_('widgets.reflection.title')}</h2>

<p class="subtitle italic text-teal-500 my-2">{$_('widgets.reflection.subtitle')}</p>

<textarea bind:value={$textInput} class="placeholder w-full h-72 rounded bg-emerald-800 text-emerald-100 py-1 px-2" id="reflection" placeholder="⏳ {$_('widgets.reflection.placeholder')}"></textarea>