<h2 class="title text-3xl font-bold font-sans text-teal-100">💡 {$_('widgets.tips.title')}</h2>
<p class="subtitle italic text-teal-500 my-2">{$_('widgets.tips.subtitle')}</p>

<script>
  import { _ } from '../../services/i18n';
  
  var thirtySeconds = 60 * 500;
  
  function newTips() {
    var randomNumber = Math.floor(Math.random() * 30)
    document.getElementById('tipsDisplay').innerHTML = $_('widgets.tips.' + randomNumber);
  }
  
  setInterval(newTips, thirtySeconds);
</script>

<p class="text-2xl font-sans text-blue-400" id="tipsDisplay"><i>{$_('widgets.tips.placeholder')}</i></p>