<script>
    import { fly, fade } from 'svelte/transition';
    import { setupI18n, isLocaleLoaded, getLocaleFromNavigator } from './services/i18n';

    import { _ } from './services/i18n';

    import Tips from './libs/widgets/Tips.svelte';
    import Reflections from './libs/widgets/Reflections.svelte';
    import Quotes from './libs/widgets/Quotes.svelte';

    $: if (!$isLocaleLoaded) {
        setupI18n({ withLocale: getLocaleFromNavigator() });
    }
</script>

{#if $isLocaleLoaded}
<div transition:fly="{{ y: -200, duration: 2000 }}" id="stick" class="sticky top-0 bg-emerald-900 py-2">
    <h1 class="title my-2 text-5xl font-bold font-sans text-emerald-100">{$_('app.title')}</h1>
    <p class="subtitle my-2 italic text-emerald-500">{$_('app.subtitle')}</p>
    <a href="https://codeberg.org/Linerly/apkes" class="text-bold rounded bg-blue-500 text-emerald-100 w-max px-1">0.1.2</a>
</div>

<div transition:fly="{{ y: -200, duration: 2000 }}" id="gradientfade" class="sticky bg-gradient-to-b from-emerald-900">
    <br>
</div>

<style>
    #gradientfade {
        z-index: 999;
        top: 136px
    }

    #stick {
        z-index: 999
    }
</style>

<div transition:fly="{{ y: 200, duration: 2000 }}">
<Tips />
<br>
<br>
</div>

<div transition:fly="{{ y: 200, duration: 2200 }}">
<Quotes />
<br>
<br>
</div>

<div transition:fly="{{ y: 200, duration: 2400 }}">
<Reflections />
<br>
<br>
</div>

<p transition:fly="{{ y: 200, duration: 2600 }}" class="text-center text-emerald-100">{$_('app.creator')}<a class="font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-sky-500" href="https://linerly.codeberg.page/" target="_blank">Linerly</a></p>

<br>
{:else}
<img transition:fade style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" alt="Apkes" src="./icons/icon.svg" />
{/if}
